@font-face {
  font-family: "Rubik80sFadeRegular";
  src: local("Rubik80sFadeRegular"),
    url("assets/fonts/Rubik80sFade-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PacificoRegular";
  src: local("PacificoRegular"),
    url("assets/fonts/Pacifico-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jura";
  src: local("Jura"), url("assets/fonts/Jura.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  src: local("RobotoCondensed"),
    url("assets/fonts/RobotoCondensed.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trebuchet";
  src: local("Trebuchet"), url("assets/fonts/Trebuchet.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LobsterRegular";
  src: local("LobsterRegular"),
    url("assetsfonts/Lobster-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
