@font-face {
  font-family: "Rubik80sFadeRegular";
  src: local("Rubik80sFadeRegular"),
    url("a/fonts/Rubik80sFade-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PacificoRegular";
  src: local("PacificoRegular"),
    url("@a/fonts/Pacifico-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jura";
  src: local("Jura"), url("a/fonts/Jura.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  src: local("RobotoCondensed"),
    url("@a/fonts/RobotoCondensed.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trebuchet";
  src: local("Trebuchet"), url("a/fonts/Trebuchet.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LobsterRegular";
  src: local("LobsterRegular"),
    url("a/fonts/Lobster-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
